<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1123" Action="None" />
    <Rule Id="SA1008" Action="None" />
    <Rule Id="SA1009" Action="None" />
	<Rule Id="SA1309" Action="None" />
	<Rule Id="SA1101" Action="None" />
	
    <Rule Id="xUnit2013" Action="None" />
	<Rule Id="xUnit2004" Action="None" />
  </Rules>
</RuleSet>